@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600;700&family=Roboto&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

body {
  background: #282c35;
  font-size: 16px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  color: #ffffff;
}

a {
  font-size: 1.5rem;
  line-height: 2rem;
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  text-decoration: none;
  color: #ffffff;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.wrapper {
  border-right: 2px solid #f76f34;
}

.wrapper__header {
  padding-top: 0px;
}

header {
  background: #282c35 url("../img/bg/bg_header.jpg") no-repeat 100%;
  background-size: 30% 100%;
}

.container {
  padding-right: 0;
  padding-left: 0;
  overflow: hidden;
}

.button {
  background: transparent;
  font-size: 1.25rem;
  line-height: 2.5rem;
  color: #ffffff;
  outline: none;
  border: none;
}

.button:hover, .button:active, .button:focus {
  outline: none;
  border: none;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.navbar-dark .navbar-toggler {
  border: 1px solid #ffffff;
}

.navbar-dark .navbar-nav .nav-link {
  font-size: 0.75rem;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-item .active {
  color: #f76f34;
}

.info--link {
  font-size: 1rem;
  line-height: 150%;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
}

.title {
  font-size: 3.5rem;
  line-height: 114%;
  font-weight: 700;
}

.title__header {
  font-size: 4.5rem;
  line-height: 122%;
  font-weight: 700;
}

.title__header--page {
  font-size: 4rem;
  line-height: 122%;
  font-weight: 700;
}

.title__page {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 130%;
}

.title__subtitle {
  font-size: 1.125rem;
  line-height: 140%;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.8);
}

.text__header {
  font-size: 1.25rem;
  line-height: 160%;
  color: rgba(255, 255, 255, 0.8);
}

.text {
  font-size: 1rem;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.8);
}

.text__subtext {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 156%;
  color: #ffffff;
}

.documents__item {
  width: 150%;
  overflow: hidden;
}

.img {
  width: 100%;
  height: 100%;
}

.gallery--img img {
  border-radius: 3px;
}

.gallery--img:hover img,
.gallery--img:focus img,
.gallery--img:active img {
  -webkit-filter: sepia(2) saturate(3) contrast(1);
          filter: sepia(2) saturate(3) contrast(1);
}

.info__inner {
  padding: 0;
}

.info__img {
  padding: 10rem;
  width: 100%;
  height: 100%;
  background: url("../img/bg/symbol_bg.jpg") no-repeat;
  background-size: contain;
}

.partners {
  background: #30343c url("../img/bg/bg_section.jpg") no-repeat left;
  background-size: 40% 100%;
}

.partners__table {
  width: 100%;
  padding-left: 1rem;
  margin: 0;
}

.table__column {
  border: 2px solid #f76f34;
  background: rgba(40, 44, 53, 0.8);
}

.partners__table--text {
  display: block;
  padding: 1rem 1.5rem;
  font-weight: 600;
  font-size: 1rem;
  line-height: 150%;
  color: #ffffff;
}

.partners__inner--text {
  padding-right: 15px;
  background: #30343c;
}

.object__inner--text {
  padding-bottom: 3.5rem;
}

.button--object {
  border: 2px solid #f76f34;
  border-right: none;
}

.button--object:hover {
  border: 2px solid #f76f34;
  border-right: none;
  color: #f76f34;
}

.disabled {
  color: rgba(255, 255, 255, 0.4);
}

.active {
  z-index: 5;
}

.button__slider--color {
  color: #f76f34;
  opacity: 1;
}

.slider__item {
  z-index: 0;
}

.object__slider {
  overflow: hidden;
  padding-bottom: 5rem;
}

.slider__title {
  padding: 3rem;
  margin-bottom: 0;
  font-weight: 700;
  background: rgba(255, 255, 255, 0.1);
}

.slider__item:hover .slider__title {
  background: #f76f34;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.carousel-control-prev,
.carousel-control-next {
  position: relative;
  z-index: 0;
  width: auto;
}

.contact {
  background: #30343c;
}

.contact__inner--phone {
  margin: 48px 0;
}

.phone__link:hover {
  color: #f76f34;
  text-decoration: none;
}

.contact__callback {
  margin-top: 48px;
  padding: 1rem 1.5rem;
  font-size: 1.125rem;
  line-height: 122%;
  color: #ffffff;
  border: 2px solid #f76f34;
}

.contact__callback:hover,
.contact__callback:active,
.contact__callback:focus {
  border: 2px solid transparent;
  color: #f76f34;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all ease-in 0.3s;
  transition: all ease-in 0.3s;
}

.info__img--service {
  border: 2px solid #f76f34;
  border-right: none;
}

.description--service {
  background: #30343c;
}

.gallery__block:hover {
  text-decoration: none;
}

.gallery__block:hover .galerry__title {
  background: #f76f34;
}

.gallery__block .galerry__title {
  padding: 40px;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
  background: rgba(255, 255, 255, 0.1);
}

.gallery__block .gallery__img {
  margin: 0;
  padding: 0;
  background-size: 100%;
}

.info--link {
  color: #f76f34;
  border-bottom: 2px solid transparent;
}

.info--link:hover {
  color: #ffffff;
  text-decoration: none;
  border-bottom: 2px solid #f76f34;
}

.tasks {
  background: #30343c url("../img/bg/bg_section.jpg") no-repeat left;
  background-size: 50% 100%;
}

.tasks__table {
  position: relative;
  z-index: 5;
  background: rgba(40, 44, 53, 0.8);
}

.tasks__table tr td {
  padding: 24px 16px;
  border: 2px solid #f76f34;
  min-width: 300px;
}

.tasks__inner--text {
  padding-right: 15px;
  background: #30343c;
}

.documents__item--left {
  -webkit-transform: translateX(-28%);
          transform: translateX(-28%);
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.documents__item--right {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.description__text {
  display: block;
  width: 50%;
}

.contacts {
  background: #30343c url("../img/bg/bg_section.jpg") no-repeat left;
  background-size: 50% 100%;
}

.contacts__form {
  background: #282c35;
  border: 2px solid #f76f34;
}

.form__text {
  font-weight: 600;
  font-size: 1rem;
  line-height: 150%;
  color: #ffffff;
}

.input {
  padding: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 4px;
  background: transparent;
}

.input::-webkit-input-placeholder {
  font-size: 1rem;
  line-height: 122%;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  color: rgba(255, 255, 255, 0.6);
  border-radius: 4px;
}

.input:-ms-input-placeholder {
  font-size: 1rem;
  line-height: 122%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  color: rgba(255, 255, 255, 0.6);
  border-radius: 4px;
}

.input::-ms-input-placeholder {
  font-size: 1rem;
  line-height: 122%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  color: rgba(255, 255, 255, 0.6);
  border-radius: 4px;
}

.input::placeholder {
  font-size: 1rem;
  line-height: 122%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(255, 255, 255, 0.6);
  border-radius: 4px;
}

.input:focus,
.input:active {
  color: #ffffff;
  background: #272b3a;
  border: 1px solid #477bff;
}

.form--recaptcha {
  width: 60%;
  background: #222222;
  border: 1px solid rgba(255, 255, 255, 0.15);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.101138);
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.101138);
  border-radius: 3px;
}

.form__agree {
  position: relative;
  margin-left: 1rem;
  font-size: 0.75rem;
  line-height: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #ffffff;
}

.form__agree--checkbox + label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.form__agree--checkbox + label::before {
  content: "";
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background: rgba(255, 255, 255, 0.8);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.form__agree--checkbox:checked + label::before {
  border-color: #f76f34;
  background-color: #f76f34;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

/* стили при наведении курсора на checkbox */
.form__agree--checkbox:not(:disabled):not(:checked) + label:hover::before {
  border-color: #f76f34;
}

/* стили для активного состояния чекбокса (при нажатии на него) */
.form__agree--checkbox:not(:disabled):active + label::before {
  background-color: #f76f34;
  border-color: #f76f34;
}

/* стили для чекбокса, находящегося в фокусе */
.form__agree--checkbox:focus + label::before {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(71, 123, 255, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(71, 123, 255, 0.25);
}

/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.form__agree--checkbox:focus:not(:checked) + label::before {
  border-color: #f76f34;
}

/* стили для чекбокса, находящегося в состоянии disabled */
.form__agree--checkbox:disabled + label::before {
  background-color: #e9ecef;
}

input[type="checkbox"] {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.recaptcha__block {
  padding: 1rem;
}

.recaptcha__block .recaptcha__text {
  font-size: 0.56rem;
  line-height: 0.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #a5a5a5;
}

.recaptcha__block .recaptcha__text--subtext {
  font-size: 0.5rem;
}

.form--submit {
  padding: 0.5rem 1.5rem;
  width: 25%;
  color: #ffffff;
  background: #f76f34;
  border: none;
  outline: none;
}

@media (min-width: 1024px) {
  .container {
    max-width: 1300px;
  }
}

@media (min-width: 320px) and (max-width: 990px) {
  body {
    font-size: 12px;
    font-weight: 400;
  }
  .navbar-dark .navbar-nav .nav-link {
    font-size: 0.75rem;
    margin: 0;
    font-weight: 700;
    color: #ffffff;
    letter-spacing: 0.08em;
    text-transform: uppercase;
  }
  .navbar {
    padding: 0;
  }
  .title {
    font-size: 2rem;
    line-height: 2rem;
  }
  .title__header {
    font-size: 2.5rem;
    line-height: 122%;
    font-weight: 700;
  }
  .title__header--page {
    font-size: 3rem;
    line-height: 122%;
    font-weight: 700;
  }
  .title__page {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 130%;
  }
  .title__subtitle {
    font-size: 1.125rem;
    line-height: 140%;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.8);
  }
  .text__header {
    font-size: 1.2rem;
    line-height: 160%;
    color: rgba(255, 255, 255, 0.8);
  }
  .text__subtext {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 156%;
    color: #ffffff;
  }
  .text {
    font-size: 1.1rem;
    line-height: 1.5rem;
  }
  .info__img {
    padding: 3rem;
  }
  .button--object {
    border: 2px solid #f76f34;
  }
  .slide {
    padding: 0;
  }
  .description__text--img {
    width: 100%;
  }
  .form__agree {
    margin-left: 0;
  }
  .form--submit {
    width: 50%;
  }
  .description__text {
    width: 100%;
  }
}
