@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600;700&family=Roboto&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  background: #282c35;
  font-family: "IBM Plex Sans", sans-serif;
  color: #ffffff;
}

.wrapper {
  border-right: 2px solid #f76f34;
}

.wrapper__header {
  padding-top: 0px;
}

header {
  background: #282c35 url("../img/bg/bg_header.jpg") no-repeat 100%;
  background-size: 30% 100%;
}

.container {
  padding-right: 0;
  overflow: hidden;
}

.button {
  background: transparent;
  font-size: 1.25rem;
  line-height: 2.5rem;
  color: #ffffff;
  outline: none;
  border: none;
}

.button:hover, .button:active, .button:focus {
  outline: none;
  border: none;
}

.navbar-dark .navbar-toggler {
  border: 1px solid #ffffff;
}

.navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-item .active {
  color: #f76f34;
}

.title {
  font-weight: 700;
}

.title--info {
  font-size: 3rem;
}

.text {
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: rgba(255, 255, 255, 0.8);
}

.img--info {
  border: 2px solid #f76f34;
}

.info__title {
  font-size: 4rem;
  line-height: 4rem;
}

.info__inner {
  padding: 0;
}

.info__img {
  padding: 5rem;
  background: url("../img/bg/symbol_bg.jpg") no-repeat;
  background-size: contain;
}

.partners {
  background: #30343c url("../img/bg/bg_section.jpg") no-repeat left;
  background-size: 40% 100%;
}

.partners__table {
  position: relative;
  z-index: 5;
  background: rgba(40, 44, 53, 0.8);
}

.partners__table tr td {
  padding: 24px 16px;
  border: 2px solid #f76f34;
  min-width: 300px;
}

.partners__inner--text {
  padding-right: 15px;
  background: #30343c;
}

.partners__title {
  font-size: 56px;
  line-height: 64px;
  font-weight: 700;
}

.partners__text {
  padding-top: 48px;
  font-size: 20px;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.8);
}

.object__inner--text {
  padding-bottom: 55px;
}

.object__title {
  font-weight: 700;
  font-size: 56px;
  line-height: 64px;
  color: #ffffff;
}

.button--object {
  border: 2px solid #f76f34;
  border-right: none;
}

.button--object:hover {
  border: 2px solid #f76f34;
  border-right: none;
  color: #f76f34;
}

.disabled {
  color: rgba(255, 255, 255, 0.4);
}

.active {
  color: #f76f34;
}

.button svg {
  width: 42px;
  height: 42px;
}

.object__text {
  margin-right: 100px;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.8);
}

.object__slider {
  overflow: hidden;
  padding-bottom: 160px;
}

.slider__title {
  padding: 40px;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  background: rgba(255, 255, 255, 0.1);
}

.img-thumbnail {
  padding: 0;
  border: none;
  border-radius: 0;
}

.contact {
  background: #30343c;
}

.contact__title {
  font-weight: 700;
  font-size: 56px;
  line-height: 64px;
  color: #ffffff;
}

.contact__inner--phone {
  margin: 48px 0;
}

.phone__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: rgba(255, 255, 255, 0.8);
}

.phone__text,
.phone__link {
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
}

.phone__link:hover {
  color: #f76f34;
  text-decoration: none;
}

.address__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: rgba(255, 255, 255, 0.8);
}

address {
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
}

.contact__callback {
  margin-top: 48px;
  padding: 16px 24px;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
  border: 2px solid #f76f34;
}

.info__img--service {
  border: 2px solid #f76f34;
  border-right: none;
}

.info__title--service {
  font-size: 3rem;
}

.description--service {
  background: #30343C;
}

.galerry {
  display: flex;
}

.gallery__block:hover {
  text-decoration: none;
}

.gallery__block:hover .galerry__title {
  background: #f76f34;
}

.gallery__block .galerry__title {
  padding: 40px;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
  background: rgba(255, 255, 255, 0.1);
}

.gallery__block .gallery__img {
  margin: 0;
  padding: 0;
  background-size: 100%;
}

.info--link {
  color: #f76f34;
  border-bottom: 1px solid transparent;
}

.info--link:hover {
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid #f76f34;
}

.tasks {
  background: #30343c url("../img/bg/bg_section.jpg") no-repeat left;
  background-size: 50% 100%;
}

.tasks__table {
  position: relative;
  z-index: 5;
  background: rgba(40, 44, 53, 0.8);
}

.tasks__table tr td {
  padding: 24px 16px;
  border: 2px solid #f76f34;
  min-width: 300px;
}

.tasks__inner--text {
  padding-right: 15px;
  background: #30343c;
}

.tasks__title {
  font-size: 56px;
  line-height: 64px;
  font-weight: 700;
}

.tasks__text {
  font-size: 20px;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.8);
}

.description__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #ffffff;
}

.description__text {
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.8);
}

.contact {
  background: #30343c url("../img/bg/bg_section.jpg") no-repeat left;
  background-size: 50% 100%;
}

.contact__form {
  background: #282c35;
  padding: 64px;
  border: 2px solid #f76f34;
}

.form__text {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.input {
  padding: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 4px;
  background: transparent;
}

.input::placeholder {
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
  border-radius: 4px;
}

.input:focus {
  color: #ffffff;
  background: #272b3a;
  border: 1px solid #477bff;
}

.form--recaptcha {
  background: #222222;
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-sizing: border-box;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.101138);
  border-radius: 3px;
}

.form--recaptcha .form__agree {
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: flex-end;
  color: #ffffff;
}

.form--recaptcha input[type="checkbox"] {
  width: 12px;
  height: 12px;
}

.recaptcha__block {
  padding: 10px;
}

.recaptcha__block .recaptcha__text {
  font-size: 9.5px;
  line-height: 11px;
  display: flex;
  align-items: flex-end;
  color: #a5a5a5;
}

.recaptcha__block .recaptcha__text--subtext {
  font-size: 8px;
}

.form--submit {
  padding: 8px 24px;
  color: #ffffff;
  background: #f76f34;
  border: none;
  outline: none;
}

.contact__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

.contact__text {
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.8);
}

@media (min-width: 1024px) {
  .container {
    max-width: 1300px;
  }
}

@media (min-width: 320px) {
  body {
    font-size: 10px;
  }
  .info__title {
    font-size: 1.8rem;
    line-height: 2rem;
  }
  .navbar {
    padding: 0;
  }
}
