@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600;700&family=Roboto&display=swap");
body {
  background: #282c35;
  font-family: "IBM Plex Sans", sans-serif;
  color: #ffffff;
}

.wrapper {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(44, 45, 48, 0.8)), to(rgba(44, 45, 48, 0.8)));
  background: linear-gradient(0deg, rgba(44, 45, 48, 0.8), rgba(44, 45, 48, 0.8));
  margin: 0 auto;
}

header,
.info,
.partner,
.object {
  margin: 0 20px 0 20px;
  border-right: 2px solid #f76f34;
}

.button {
  padding: 16px 24px;
  background: transparent;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
  outline: none;
  border: none;
}

.button:hover, .button:active, .button:focus {
  outline: none;
  border: none;
}

nav a {
  color: #ffffff;
}

nav a:hover {
  color: #f76f34;
}

.info__title {
  font-weight: 700;
  font-size: 72px;
  line-height: 88px;
}

.info__text {
  margin-top: 48px;
  font-size: 20px;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.8);
}

.info__img {
  margin-left: 38px;
  padding: 206px;
  border: 2px solid #f76f34;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.partners__inner {
  padding: 160px 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(83, 87, 94, 0.6)), to(rgba(83, 87, 94, 0.6)));
  background: linear-gradient(0deg, rgba(83, 87, 94, 0.6), rgba(83, 87, 94, 0.6));
}

.partners__table {
  position: relative;
  z-index: 5;
  background: rgba(40, 44, 53, 0.8);
}

.partners__table tr td {
  padding: 24px 16px;
  border: 2px solid #f76f34;
  min-width: 350px;
}

.partners__inner--text {
  padding: 160px 250px;
  padding-right: 15px;
  background: #30343c;
}

.partners__title {
  font-size: 56px;
  line-height: 64px;
  font-weight: 700;
}

.partners__text {
  padding-top: 48px;
  font-size: 20px;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.8);
}

.button--object {
  border: 2px solid #f76f34;
  border-right: none;
}

.button--object:hover {
  border: 2px solid #f76f34;
  border-right: none;
  color: #f76f34;
}

.disabled {
  color: rgba(255, 255, 255, 0.4);
}

.active {
  color: #f76f34;
}

.button svg {
  width: 42px;
  height: 42px;
}
