$background: #282C35;
$backgroundSecond: #30343C;
$backgroundHead: rgba(255, 255, 255, 0.1);
$backgroundTable: rgba(40, 44, 53, 0.8);
$backgroundBorder-Liner-Hover-Elements-Buttons: #F76F34;
$backgroundInput: #272B3A;
$borderInput: 1px solid rgba(255, 255, 255, 0.25);
$colorFocus-Hover-Input: #477BFF;
$colorInput: rgba(255, 255, 255, 0.6);
$color: #FFFFFF;
$backgroundCaptcha: #222222;