*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  background: $background;
  font-family: $font, sans-serif;
  color: $color;
}

.wrapper {
  border-right: 2px solid $colorBorder-Buttons;
  padding: 10rem 0;

  &__header {
    padding-top: 0px;
  }
}

header {
  background: $background url("../img/bg/bg_header.jpg") no-repeat 100%;
  background-size: 30% 100%;
}

.container {
  padding-right: 0;
  overflow: hidden;
}

.button {
  background: transparent;
  font-size: 1.25rem;
  line-height: 2.5rem;
  color: $color;
  outline: none;
  border: none;

  &:hover,
  &:active,
  &:focus {
    outline: none;
    border: none;
  }
}

.navbar-dark .navbar-toggler {
  border: 1px solid $color;
}

.navbar-dark .navbar-nav .nav-link {
  color: $color;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-item .active {
  color: $colorBorder-Buttons;
}

.title {
  font-weight: $weightBold;
}

.title--info {
  font-size: 3rem;
}

.text {
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: $colorText;
}

.img--info {
  border: 2px solid $colorBorder-Buttons;
  border-right: none;
}
