@media (min-width: 1024px) {
  .container {
    max-width: 1300px;
  }
}

@media (min-width: 768px) {}

@media (min-width: 540px) {}

@media (min-width: 320px) and (max-width: 539px) {
  body {
    font-size: 12px;
    font-weight: $weight;
  }

  .navbar-dark .navbar-nav .nav-link {
    font-size: 0.75rem;
    margin: 0;
    font-weight: $weightBold;
    color: $color;
    letter-spacing: 0.08em;
    text-transform: uppercase;
  }

  .navbar {
    padding: 0;
  }

  .title {
    font-size: 2rem;
    line-height: 2rem;
  }

  .title__header {
    font-size: 2.5rem;
    line-height: 122%;
    font-weight: $weightBold;
  }

  .title__header--page {
    font-size: 4rem;
    line-height: 122%;
    font-weight: $weightBold;
  }

  .title__page {
    font-weight: $weightBold;
    font-size: 2.5rem;
    line-height: 130%;
  }

  .title__subtitle {
    font-size: 1.125rem;
    line-height: 140%;
    font-weight: $weightBold;
    color: $colorText;
  }

  .text__header {
    font-size: 1.2rem;
    line-height: 160%;
    color: $colorText;
  }

  .text__subtext {
    font-weight: $weight;
    font-size: 1.125rem;
    line-height: 156%;
    color: $color;
  }

  .text {
    font-size: 1.1rem;
    line-height: 1.5rem;
  }

  .info__img {
    padding: 3rem;
  }

  .button--object {
    border: 2px solid $colorBorder-Buttons;
  }

  .slide {
    padding: 0;
  }

  .description__text--img {
    width: 100%;
  }
}