.info--link {
  color: $colorBorder-Buttons;
  border-bottom: 2px solid transparent;

  &:hover {
    color: $color;
    text-decoration: none;
    border-bottom: 2px solid $colorBorder-Buttons;
  }
}
