.contact {
  background: $backgroundSecond;
}

.contact__title {
  font-weight: $weightBold;
  font-size: 3rem;
  line-height: 4rem;
  color: $color;
}

.contact__inner--phone {
  margin: 48px 0;
}

.phone__title {
  font-weight: $weightBold;
  font-size: 20px;
  line-height: 28px;
  color: rgba(255, 255, 255, 0.8);
}

.phone__text,
.phone__link {
  font-size: 18px;
  line-height: 28px;
  color: $color;
}

.phone__link:hover {
  color: $colorBorder-Buttons;
  text-decoration: none;
}

.address__title {
  font-weight: $weightBold;
  font-size: 20px;
  line-height: 28px;
  color: rgba(255, 255, 255, 0.8);
}

address {
  font-size: 18px;
  line-height: 28px;
  color: $color;
}

.contact__callback {
  margin-top: 48px;
  padding: 16px 24px;
  font-size: 18px;
  line-height: 32px;
  color: $color;
  border: 2px solid $colorBorder-Buttons;
}

.contact__callback:hover,
.contact__callback:active,
.contact__callback:focus {
  border: 2px solid transparent;
  color: $colorBorder-Buttons;
  transform: scale(1.05);
  transition: all ease-in 0.3s;
}
