.info__title {
  font-size: 4rem;
  line-height: 4rem;
}

.info__inner {
  padding: 0;
}

.info__img {
  padding: 5rem;
  background: url("../img/bg/symbol_bg.jpg") no-repeat;
  background-size: contain;
}
