.object__inner--text {
  padding-bottom: 3.5rem;
}

.object__title {
  font-weight: $weightBold;
  font-size: 3.5rem;
  line-height: 4rem;
  color: $color;
}

.button--object {
  border: 2px solid $colorBorder-Buttons;
  border-right: none;

  &:hover {
    border: 2px solid $colorBorder-Buttons;
    border-right: none;
    color: $colorBorder-Buttons;
  }
}

.disabled {
  color: rgba(255, 255, 255, 0.4);
}

.active {
  z-index: 5;
}

.button__slider--color {
  color: $colorBorder-Buttons;
  opacity: 1;
}

.object__text {
  margin-right: 5rem;
  font-size: 1.5rem;
  font-weight: $weight;
  line-height: 2rem;
  color: rgba(255, 255, 255, 0.8);
}

.slider__item {
  z-index: 0;
}

.object__slider {
  overflow: hidden;
  padding-bottom: 5rem;
}

.slider__title {
  padding: 3rem;
  margin-bottom: 0;
  font-weight: $weightBold;
  background: rgba(255, 255, 255, 0.1);
}

.slider__item:hover .slider__title {
  background: $colorBorder-Buttons;
  transition: all ease 0.3s;
}

.carousel-control-prev,
.carousel-control-next {
  position: relative;
  z-index: 0;
  width: auto;
}
