.partners {
  background: $backgroundSecond url("../img/bg/bg_section.jpg") no-repeat left;
  background-size: 40% 100%;
}

.partners__table {
  width: 100%;
  padding-left: 1rem;
  margin: 0;
}

.table__column {
  border: 2px solid $colorBorder-Buttons;
  background: rgba(40, 44, 53, 0.8);
}

.partners__table--text {
  display: block;
  padding: 1rem 1.5rem;
  font-weight: 600;
  font-size: 1rem;
  line-height: 150%;
  color: $color;
}

.partners__inner--text {
  padding-right: 15px;
  background: $backgroundSecond;
}